.m-viewtable {
    display: block;
    float: left;
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-viewtable-default {
    border-radius: 5px;
    line-height: 30px;
}

.m-viewtable-default table {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.m-viewtable-default th {
    color: #D5DDE5;;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 14px;
    font-weight: 100;
    padding: 6px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    width: 30%;
}

.m-viewtable-default th:first-child {
    border-top-left-radius: 3px;
}

.m-viewtable-default tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.m-viewtable-default tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

.m-viewtable-default tr:nth-child(odd) td {
    background: #EBEBEB;
}

.m-viewtable-default tr:nth-child(odd):hover td {
    background: #4E5066;
}

.m-viewtable-default tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.m-viewtable-default tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

.m-viewtable-default td {
    background: #FFFFFF;
    padding: 6px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.m-viewtable-default td:last-child {
    border-right: 0px;
}